<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://notchup-app.github.io/notchup/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>UceJ5P1wYteEFzZG3i8cr64MU01Cvk88WWRFd+Eqx5M=</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleLocalizations</key>
    <array>
        <string>en</string>
    </array>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2024 notchplus. All rights reserved.</string>
</dict>
</plist>
